#figure-label {
  text-align: center;
  font-size: 18px;
}

.figure {
  display: block;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

img {
  max-height: 520px;
  max-width: 620px;
  width: auto;
  object-fit: cover;
}

.button {
  margin: 500px;
  background-color: transparent;
  color: #61dafb;
  border-radius: 5px;
  border-width: medium;
  border-color: #61dafb;
  width: 7vw;
  height: 4vh;
  font-size: 16px;
}

.metadata {
  margin: 2rem;
}

.bar {
  margin: 30px;
  text-align: center;
  align-items: center;
  align-content: center;
  display: block;
}

.ques-box {
  margin: 20px;
  font-size: 16px;
  height: 200px;
}

.hint {
  font-size: 14px;
}

.card {
  margin: 20px;
  height: 637px;
}

.page-num {
  margin: 20px;
}